:root {
    --primary-color: #adf0d4;
    --secondary-color: #1fd8a4;
    --bg-color: black;
    --secondary-bg-color: rgb(50, 49, 49);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    transition-duration: 300ms;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    background: linear-gradient(180deg, var(--bg-color) 20%, var(--secondary-bg-color) 90%);
    color: var(--primary-color);
    padding: 24px;
    
}

header {
    display:flex;
    justify-content: space-between;
    margin: 10px;
}

.outreach {
    color:darkcyan;
    padding-left: 10px;
}

i {
    color:darkcyan;
    padding-left: 30px;
}

img {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    margin:auto;
}

.topRight {
    font-size: 1.5em;
}

.familyPhoto img {
    border-bottom: 3px solid rgb(119, 111, 111);
}

.parents {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:24px;
    
}

.parents, .childrenContainer {
    font-size: 1.5em;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    margin-right:auto;
    margin-left: auto;
    width: 50%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.DevanEmily {
    border-radius: 25%;
}

.childrenContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 4px solid rgba(82, 79, 79, 0.195);
}

.childrenContainer img {
    
    border-radius: 50%;
    max-width: 400px; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add spacing between stacked images */
    
}

footer {
    display:flex;
    justify-content: space-between;
    border-top: 2px solid rgb(167, 164, 164);
    margin-top: 36px;
    padding-top: 12px;
}

a{
    color: lightcyan;
    padding: 12px;
}

a:hover {
    color:aqua;
    opacity: 70%;
    cursor: pointer;
}

.est {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 640px) {
    .childrenContainer {
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .childrenContainer img {
        max-width: 400px;
        padding: 25px;
    }
}